    <nav class="navbar navbar-default  navbar-fixed-top">
      <div class="cotainer-fluid">
        <div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        		<span class="icon-bar"></span>
        		<span class="icon-bar"></span>
        		<span class="icon-bar"></span>                        
      		</button>
          <a class="navbar-left" href=<%= root_path %>>
						<%= image_tag("waldohead.png", alt: "Logo")%>
					</a>
        </div>
				
				<div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav navbar-right">
          	<li>
            	<div class="thumbnail" id="waldo">
								<%= image_tag("wally.png", alt: "Wally")%>
							</div>
						</li>
						<li>
            	<div class="thumbnail" id="wenda">
							  <%= image_tag("wenda.png", alt: "Wenda")%>
							</div>
						</li>
          	<li>
            	<div class="thumbnail" id="odlaw">
							  <%= image_tag("odlaw.png", alt: "Odlaw")%>
							</div>
						</li>
						<li>
            	<div class="thumbnail" id="wizard">
							  <%= image_tag("wizard.png", alt: "Wizard")%>
							</div>
						</li>
				</ul>
				</div>
			</div>
		</nav>

